@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Syne:wght@400;500;600;700;800&display=swap');

:root {
    --font-ui: "Syne", sans-serif;
    --font-display: "Inter", sans-serif;

    --background: #E7E7E7;

    --portfolio-elements-margin: 1.5rem;
    --global-padding-right-left: 1.2rem;

    --header-text-size: 1.3rem;
    --text-size: 1rem;
    --text-small-size: 0.8rem;
}

body {
    background-color: var(--background);
    font-family: var(--font-ui), sans-serif;
    margin: 0;
}