@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Syne:wght@400;500;600;700;800&display=swap');

:root {
    --font-ui: "Inter", sans-serif;
    --font-display: "Syne", sans-serif;

    --text-color-secondary: #6b7280;

    --body-background-color: #E7E7E7;
}

body {
    margin: 20px;
    font-family: var(--font-ui);
}